{% extends 'management/base.html' %}
{% load base_extras %}
{% block title %} City {% endblock %}
{% block management_content %}
<div class="container">
  <div class="row">
    <h1>City</h1>
  </div>
  <div class="row">
    <form method="post" action="{% url 'management:edit_city' city.id %}">
      {% csrf_token %}
      {% include 'basic_form.html' %}
      <button type="submit"class="btn btn-primary" value="Update city">Update city</button>
      <input type="reset" class="btn btn-secondary" value="Reset">
      <a class="btn btn-secondary" href="{% url 'management:list_city' %}">
        Back
      </a>
      <br>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal">
        Delete city
      </button>
    </form>
  </div>
</div>

<!-- Delete Confirmation Modal -->
{% url 'management:delete_city' city.id as delete_url %}
{% include 'delete_confirmation_modal.html' with modal_id='deleteConfirmationModal' object_name='city' delete_url=delete_url %}
{% endblock %}