{% extends 'management/base.html' %}
{% load base_extras %}
{% block title %} Add Product {% endblock %}
{% block management_content %}
<div class="container">
  <h1>Add New Product</h1>
  <form method="post" action="{% url 'management:create_product' %}">
    {% csrf_token %}
    {% include 'basic_form.html' %}
    <button type="submit"class="btn btn-primary" value="Add Product">Add Product</button>
    <a class="btn btn-secondary" href="{% url 'management:list_product' %}">
      Back
    </a>
  </form>
</div>
{% endblock %}