{% extends 'base.html' %}
{% load base_extras %}
{% load static %}
{% block title %} Transactions {% endblock %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/transaction/jquery.datetimepicker.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <h1>Transactions</h1>

  <div class="row mt-4">
    <h4>Search</h4>
  </div>
  <form class="form" method="get">
    {% for field in form_search %}
      {% cycle 'left' 'right' as form_position silent %}
      {% if form_position == 'left' %}
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            {{ field|add_placeholder|set_class:'form-control' }}
          </div>
        {% if forloop.last %}
        </div>
      </div>
        {% endif %}
      {% else %}
          <div class="col">
            {{ field|add_placeholder|set_class:'form-control' }}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary" value="Search">Search</button>
    <input type="reset" class="btn btn-secondary" value="Reset">
  </form>

  <div class="d-flex justify-content-end">
    Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.object_list.count }} results
  </div>

  <div class="row">
    <div class="table-responsive-xl">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">#</th>
            <th scope="col">Marketplace</th>
            <th scope="col">Customer</th>
            <th scope="col">City</th>
            <th scope="col">Purchases</th>
            <th scope="col">Courier</th>
            <th scope="col">Is Prepared</th>
            <th scope="col">Is Packed</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <tr>
            <th id="transaction_date_{{ forloop.counter }}">{{ transaction.date }}</th>
            <th id="transaction_number_{{ forloop.counter }}">{{ transaction.number }}</th>
            <td>{{ transaction.marketplace }}</td>
            <td id="transaction_customer_{{ forloop.counter }}">{{ transaction.customer }}</td>
            <td>{{ transaction.city }}</td>
            <td id="transaction_purchase_{{ forloop.counter }}">
              {{ transaction.purchase_set.all|print_purchase_querysets:'purchase-detail-button,purchaseDetailModal'|safe }}
            </td>
            <td>{{ transaction.courier }}</td>
            <td>{{ transaction.is_prepared|yesno:'Yes,No' }}</td>
            <td>{{ transaction.is_packed|yesno:'Yes,No' }}</td>
            <td><a href="{{ transaction.get_absolute_url }}">Edit</a></td>
          </tr>
          {% empty %}
          <tr>
            <td>No data</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-end">
      {{ page_obj }}
  </div>

  <!-- PAGINATOR -->
  <div class="row">
    <nav aria-label="Transaction Pagination">
      <ul class="pagination">
        {% for page in page_obj.paginator.page_range %}
          {% ifequal page current_page %}
          <li class="page-item active" aria-current="page">
            <span class="page-link"> {{ page }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ request_params }}&page={{ page }}">{{ page }}</a>
          </li>
          {% endifequal %}
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="row">
    <a class="btn btn-primary" href="{% url 'transaction:create_transaction' %}">
      Add Transaction
    </a>
  </div>
</div>

<!-- Purchase Details Modal -->
<div class="modal fade" id="purchaseDetailModal" tabindex="-1" role="dialog" aria-labelledby="purchaseDetailModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="purchaseDetailModalTitle">Purchases</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="purchaseDetailModalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<!--<script src="{% static 'js/learning/jquery.js' %}"></script>-->
<script src="{% static 'js/transaction/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'js/transaction/datetimepicker.js' %}"></script>
<script src="{% static 'js/transaction/transaction_list.js' %}"></script>
{% endblock %}