{% extends 'base.html' %}
{% load base_extras %}
{% load static %}
{% block title %} Transactions {% endblock %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/transaction/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/transaction/floating-labels.css' %}">
{% endblock %}
{% block content %}
<div class="container pb-4">
  <div class="row">
    <h1>Transactions</h1>
  </div>

  <div class="row my-4 d-flex justify-content-center">
    <a class="btn btn-block btn-lg btn-primary col-lg-9" href="{% url 'transaction:create_transaction' %}">
      <b>Add Transaction</b>
    </a>
    <a class="btn btn-block btn-lg btn-secondary col-lg-9" href="{% url 'transaction:duplicate_transaction' %}">
      <b>Duplicate Transaction</b>
    </a>
  </div>

  <div class="d-flex justify-content-between align-items-end mb-3">
    <div class="btn-group flex-wrap dropright">
      <a class="btn btn-sm btn-outline-secondary" href="{% url 'transaction:export_transaction' %}{{ request_params }}">Export to CSV</a>
      <button id="dropdownMenuButton" class="btn btn-sm btn-outline-secondary buttons-collection dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Column Visibility</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a id="col-vis-btn-marketplace" class="dropdown-item col-vis-btn active" href="#">Marketplace</a>
        <a id="col-vis-btn-customer"class="dropdown-item col-vis-btn active" href="#">Customer</a>
        <a id="col-vis-btn-city"class="dropdown-item col-vis-btn active" href="#">City</a>
        <a id="col-vis-btn-purchases"class="dropdown-item col-vis-btn active" href="#">Purchases</a>
        <a id="col-vis-btn-courier"class="dropdown-item col-vis-btn active" href="#">Courier</a>
        <a id="col-vis-btn-is_prepared"class="dropdown-item col-vis-btn active" href="#">Is Prepared</a>
        <a id="col-vis-btn-is_packed"class="dropdown-item col-vis-btn active" href="#">Is Packed</a>
        <a id="col-vis-btn-packager"class="dropdown-item col-vis-btn active" href="#">Packager</a>
        <a id="col-vis-btn-receipt_number"class="dropdown-item col-vis-btn active" href="#">Receipt Number</a>
        <a id="col-vis-btn-shipping_cost"class="dropdown-item col-vis-btn active" href="#">Shipping Cost</a>
      </div>
      <a class="btn btn-sm btn-outline-secondary" href="{% url 'transaction:update_status_transaction' %}{{ request_params }}">Update all packed status</a>
    </div>
    <span class="text-right">Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.object_list.count }} results</span>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive-xl">
        <table class="table table-striped table-sm">
          <thead class="thead-dark">
            <tr>
              <th class="col-date" scope="col">Date</th>
              <th class="col-number" scope="col">#</th>
              <th class="col-marketplace" scope="col">Marketplace</th>
              <th class="col-customer" scope="col">Customer</th>
              <th class="col-city" scope="col">City</th>
              <th class="col-purchases" scope="col">Purchases</th>
              <th class="col-courier" scope="col">Courier</th>
              <th class="col-is_prepared" scope="col">Is Prepared</th>
              <th class="col-is_packed" scope="col">Is Packed</th>
              <th class="col-packager" scope="col">Packager</th>
              <th class="col-receipt_number" scope="col">Receipt Number</th>
              <th class="col-shipping_cost" scope="col">Shipping Cost</th>
              <th class="col-edit" scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
            <tr>
              <th class="col-date" id="transaction_date_{{ forloop.counter }}">{{ transaction.date }}</th>
              <th class="col-number" id="transaction_number_{{ forloop.counter }}">{{ transaction.number }}</th>
              <td class="col-marketplace">{{ transaction.marketplace }}</td>
              <td class="col-customer" id="transaction_customer_{{ forloop.counter }}">{{ transaction.customer }}</td>
              <td class="col-city">{{ transaction.city }}</td>
              <td class="col-purchases" id="transaction_purchase_{{ forloop.counter }}">
                {{ transaction.purchase_set.all|render_purchase_querysets:'purchase-detail-button,purchaseDetailModal'|safe }}
              </td>
              <td class="col-courier">{{ transaction.courier }}</td>
              <td class="col-is_prepared">{{ transaction.is_prepared|yesno:'Yes,No' }}</td>
              <td class="col-is_packed">{{ transaction.is_packed|yesno:'Yes,No' }}</td>
              <td class="col-packager">{{ transaction.packager }}</td>
              <td class="col-receipt_number">{{ transaction.receipt_number }}</td>
              <td class="col-shipping_cost">{% if transaction.shipping_cost %}Rp{{ transaction.shipping_cost }}{% else %}-{% endif %}</td>
              <td class="col-edit"><a href="{{ transaction.get_absolute_url }}?next={{ request.path }}{{ request_params }}&page={{ page_obj.number }}">Edit</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not transactions %}
          <p>No transaction is found with those criteria.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  </div>

  <!-- PAGINATOR -->
  <div class="row">
    <div class="col">
      <nav aria-label="Transaction Pagination">
        <ul class="pagination flex-wrap">
          {% for page in page_obj.paginator.page_range %}
            {% ifequal page page_obj.number %}
            <li class="page-item active" aria-current="page">
              <span class="page-link"> {{ page }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ request_params }}&page={{ page }}">{{ page }}</a>
            </li>
            {% endifequal %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <h4>Search</h4>
  </div>
  <form class="form" method="get">
    <div class="form-row">
    {% for field in form_search %}
      <div class="form-label-group col-sm-6">
        {{ field|add_placeholder|append_class:'form-control' }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary" value="Search">Search</button>
    <input type="reset" class="btn btn-secondary" value="Reset">
  </form>
</div>

<!-- Purchase Details Modal -->
<div class="modal fade" id="purchaseDetailModal" tabindex="-1" role="dialog" aria-labelledby="purchaseDetailModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="purchaseDetailModalTitle">Purchases</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="purchaseDetailModalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/transaction/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/transaction/datetimepicker.js' %}"></script>
<script src="{% static 'js/transaction/transaction_list.js' %}"></script>
{% endblock %}