{% extends 'base.html' %}
{% load base_extras %}
{% load static %}
{% block title %} Edit Transaction {% endblock %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/transaction/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/transaction/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/transaction/autocomplete.css' %}">
{% endblock %}
{% block content %}
<div class="container pb-4">
  <div class="row">
    <h1>Edit Transaction</h1>
  </div>
  <form method="post" action="{% url 'transaction:edit_transaction' transaction.id %}">
    {% csrf_token %}
    {% include 'autocomplete_form.html' with form_group_col_class='col-6'%}

    <div id="purchases" class="mt-4">
      <h4>Purchases:</h4>
      <div id="management-form">
        {{ formset.management_form }}
      </div>
      {% for form in formset %}
      <div class="form-group purchase-formset">
        <b>{{ forloop.counter }}.</b>
        {% include 'autocomplete_form.html' with form_group_col_class='col-6' %}
      </div>
      {% endfor %}
    </div>

    <div class="form-group">
      <a id="add-purchase-button" href="#">Add more purchases</a>
    </div>
    <div class="form-group">
      <a id="remove-purchase-button" class="text-danger" href="#">Remove last purchase</a>
    </div>

    <button type="submit"class="btn btn-primary" value="Update transaction">Update transaction</button>
    <input type="reset" class="btn btn-secondary" value="Reset">
    <a class="btn btn-secondary" href="{% url 'transaction:list_transaction' %}">
      Back
    </a>
    <br/>
    <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#deleteConfirmationModal">
      Delete transaction
    </button>
  </form>
</div>

<!-- Delete Confirmation Modal -->
{% url 'management:delete_transaction' transaction.id as delete_url %}
{% include 'delete_confirmation_modal.html' with modal_id='deleteConfirmationModal' object_name='transaction' delete_url=delete_url %}

{{ available_customer|json_script:"available_customer" }}
{{ available_city|json_script:"available_city" }}
{{ available_product|json_script:"available_product" }}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/transaction/jquery-ui.js' %}"></script>
<script src="{% static 'js/transaction/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/transaction/datetimepicker.js' %}"></script>
<script src="{% static 'js/transaction/transaction_purchase_form.js' %}"></script>
<!--<script src="{% static 'js/transaction/bootstrap-validator.min.js' %}"></script>-->
{% endblock %}
